@font-face {
    font-family: 'Gilroy';           
    src: url('../fonts/gilroylight.woff2'); 
    font-weight: 400;              
    font-style: normal;
}
  
@font-face {
    font-family: 'Gilroy';          
    src: url('../fonts/gilroyextrabold.woff2'); 
    font-weight: 700;              
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';           
    src: url('../fonts/opensanslight.woff2'); 
    font-weight: 400;              
    font-style: normal;
}
  
 @font-face {
    font-family: 'Open Sans';          
    src: url('../fonts/opensans.woff2'); 
    font-weight: 700;              
    font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #464646;

    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: auto;
}

.main_header {
    background-color: #f7e296;
    
    position: relative;
    margin-top: 40px;
    
}

.main_header .main_title {
    position: absolute;
    top: -25px;
    left: 60px;
    padding: 0;
    margin: 0;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.main_navigation a {
    color: #000000;
}

.main_navigation_menu a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.slide_item_title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
    color: #000000;
}

.slide_item .button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.prop_item_title {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    color: #000000;
}
 
.prop_item_description {
    margin: 0;

    font-size: 13px;
    line-height: 20px;

}

.category_image {
    margin: 0;
    padding: 0;

    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.category_image img {
    margin-left: 30px;
    margin-top: 40px;
}

.category figcaption {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.options {
    background-color: #e5e5e5;
}

.options .option_item {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.options .option_item_current {
    background-color: #000000;
    color: #f7e184;
}

.options_list {
    margin: 0;
    padding: 0;
    
}

.option_current_discreption h3 {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;

}

.wrapper h2 {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.info ul {
    padding: 0;
    margin: 0;
}

.info li {
    list-style: none;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
}

.wrapper .button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.footer {
    background-color: #464646; 
    color: #ffffff;
}

.footer a {
    color: #ffffff;
}

.footer .main_title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #ffc600;
}

.footer_user_navigation,
.footer_market_menu {
    padding: 0;
    margin: 0; 
    line-height: 36px;
}

.footer_navigation_menu {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

