@font-face {
    font-family: 'Gilroy';           
    src: url('../fonts/gilroylight.woff2'); 
    font-weight: 400;              
    font-style: normal;
}
  
@font-face {
    font-family: 'Gilroy';          
    src: url('../fonts/gilroyextrabold.woff2'); 
    font-weight: 700;              
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';           
    src: url('../fonts/opensanslight.woff2'); 
    font-weight: 400;              
    font-style: normal;
}
  
 @font-face {
    font-family: 'Open Sans';          
    src: url('../fonts/opensans.woff2'); 
    font-weight: 700;              
    font-style: normal;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #464646;

    background-color: #ffffff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1160px;
    margin: auto;

    position: relative;
}

.main_header {
    background-color: #f7e296;
    
    position: relative;
    margin-top: 40px;
    

    height: 300px;
    display: flex;
    z-index: 1;
}

.main_header .main_title {
    /* position: absolute;
    top: -25px;
    left: 60px; */
    margin-left: 60px;
    margin-top: -23px;
    margin-bottom: 0;
    
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.main_navigation a {
    color: #000000;
}

.main_navigation_menu {
    display: flex;
}

.main_navigation_menu a {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.main_navigation_wrapper {
    display: flex;
    margin-top: 30px;
}

.main_navigation_wrapper input {
    height: 20px;

    
    margin-left: 60px;
    
    background-color: #f7e296;
    border: none;
}

.user_navigation {
    padding: 0;
    
    margin-left: 400px;
}

.market_menu {
    padding: 0;
    margin-left: 180px;
}

.market_menu a:nth-child(1) {
    margin-right: 65px;
}

.main_navigation_menu {
    margin-top: 0px;
    margin-left: 60px;
    padding: 0;
}

.main_navigation_menu li:nth-child(1) {
    margin-right: 415px;
}

.main_navigation_menu li:nth-child(2) {
    margin-right: 55px;
}

.main_navigation_menu li:nth-child(3) {
    margin-right: 125px;
}


.slider {
    margin-top: -115px;
    
}

.slide_item_image {
    z-index: 2;
    margin-left: 90px;
    margin-right: 60px;
}

.slider_list {
    padding-left: 0;
}


.slide_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    height: 500px;
    position: relative;
}

.slide_item_number_wrapper {
    z-index: 2;
}

.slide__item_number_line {
    height: 10px;
    width: 100px;
    background-color: #fff;

    margin-top: 30px;
    margin-bottom: 30px;
}

.slide_item_number {
    z-index: 2;
   
    color: white;
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 179px;
    line-height: 179px;
    font-weight: 700;
    position: absolute;
    top: -25px;
    right: 50px;
}

.slide_item_title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 56px;
    font-weight: 700;
    color: #000000;

    padding: 0;
    margin: 0;

    z-index: 2;
}

.slider_navigation ul {
    display: flex;
    flex-direction: row;
}

.slide_item_props {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.slide_item .button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.slide_item:nth-child(2) .slide_item_image {   
    padding-left: 15px;
}

.slide_item:nth-child(3) .slide_item_image {   
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 0px;
}

.displayHidden {
    display: none;
}

.category_list {
    display: flex;
    
    padding: 0;
    margin: 0;

    justify-content: space-between;
}

.category_list figure {
    margin: 0;
}

.prop_item_title {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;
    color: #000000;
}
 
.prop_item_description {
    margin: 0;

    font-size: 13px;
    line-height: 20px;

}

.category_image {
    margin: 0;
    padding: 0;

    width: 160px;
    height: 160px;
    background-color: #f7e296;
}

.category_image img {
    margin-left: 30px;
    margin-top: 40px;
}

.category figcaption {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.options {
    background-color: #e5e5e5;

    display: flex;
    
}

.optiosns_discreptions {
    margin-left: 100px;
}

.options .option_item {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.options_list {
    margin: 0;
    padding: 0;
    
}

.option_discreption_item h3 {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;

}

.brend_list {
    display: flex;
    justify-content: space-around;

    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper .container_line {
    width: 80px;
    height: 7px;
    background-color: black;
    margin-bottom: 45px;
}

.wrapper h2 {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
    color: #000000;
}

.info ul {
    padding: 0;
    margin: 0;
}

.info li {
    list-style: none;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    font-weight: 700;
    color: #000000;
}

.wrapper .button {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #000000;
}

.footer {
    background-color: #464646; 
    color: #ffffff;

    height: 325px;
    position: relative;
}

.footer .footer_market_menu {
    position: absolute;
    top: 60px;
    right: 20px;
}

.footer .footer_user_navigation {
    position: absolute;
    top: 60px;
    right: 320px;

}

.footer_contacts {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    position: absolute;
    top: 130px;
    left: 0px;
}

.footer_navigation_menu {
    display: flex;
    width: 100%;
    justify-content: center;

    position: absolute;
    top: 130px;
}

.footer_social {
    display: flex;
    justify-content: center;
    width: 100%;

    position: absolute;
    top: 190px;
}

.footer a {
    color: #ffffff;
}

.footer .main_title {
    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: #ffc600;
    margin: 0;

    position: absolute;
    top: 60px;
    left: 20px;
}

.footer_user_navigation,
.footer_market_menu {
    padding: 0;
    margin: 0; 
    line-height: 36px;
}

.footer_navigation_menu {
    padding: 0;
    margin: 0;

    font-family: 'Gilroy', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.hover_menu {
    height: 160px;

    background-color: #f7e296;

    position: absolute;
    top: 140px;
    left: 0;
    z-index: 3;

    display: none;
    align-items: center;

    width: 1160px;
    height: 160px;

}

.hover_menu_show,
.hover_menu:hover {
    display: flex;
}

.hover_menu_catalog {
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    height: 110px;
    
}

.hover-menu-catalog_item {
    width: 200px;
    margin-left: 60px;
    margin-top: 0px;

    
}

.hover-menu-catalog_item a {
    color: black;
    line-height: 36px;
}

